<h1>Log In</h1>

<form method="post" action="/log_in">
    <p><%= @warning %></p>
    <div>
        <strong>Username: </strong><input type="text" name="username">
    </div>
    <div>
        <strong>Password: </strong><input type="password" name="password">
    </div>
    <button type="submit">Log In</button>
</form>
