<h1><%= @username %></h1>

Hello you logged in

I am stupid and I am exposing your password -> <%= @password %>

<div>
    <form action="/log_out" method="post">
        <button type="submit">Log out</input>
    </form>
</div>

