.product-item {
    background-color: #02E0F5;
    color: #092B41;
    border-radius: 5px;
    padding: 10px;
    margin: 30px auto;
}

.new_product {
    background-color: #02E0F5;
    color: #092B41;
    border-radius: 5px;
    padding: 10px;
    margin: 30px auto;
}
