@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

body {
    background-color: #F1B97D;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.main {
    width: 800px;
    margin: 0px auto;
}

.add-button {
    background-color: #00C7D9;
    color: #092b41;
    text-decoration: none;
    border-bottom: 1px solid #092b41;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    padding: 5px 25px;
    margin: 10px;
    border-radius: 7px;
}
